.footer
	.wave
	.footer-content
		.left-block
			.logo
				%a{:href => '#'}
					%img{:src => 'images/logo-small.png'}
			.phone
				%span.code (495)
				665-85-46
				%span.address
					117437, г. Москва,
					%br
					ул. Профсоюзная, д. 108

			.phone
				%span.code (49621)
				2-90-44
				%span.address
					1141980, г. Дубна, Моск. обл.
					%br
					ул. Жолио-Кюри, д. 17-а

			%a{:href => 'mailto:aquapost@dubna.net.ru?subject=site_feedback'}
				aquapost@dubna.net.ru



		.right-block
			%table
				%tbody
					%tr.padding-bottom1
						%td.row-1st
							%a.menu-link{:href=> '#'} О КОМПАНИИ
						%td.row-2nd
							%a.menu-link{:href=> '#'} ДИЛЕРАМ
						%td.row-3rd
							%a.menu-link{:href=> '#'} КОНТАКТЫ
						%td.row-4th
							%a.menu-link{:href=> '#'} ГДЕ КУПИТЬ

					%tr
						%td
							.links
								%a{:href => '#'}
									Очистка воды
									%i.icon-arrow-right
						%td &nbsp;
						%td &nbsp;
						%td &nbsp;

					%tr.padding-bottom2
						%td.row-1st
							%ul.list
								%li Холодная вода
								%li Сорбционная очистка
						%td.row-2nd
							%ul.list
								%li Горячая вода
								%li Удаление железа
						%td{:colspan => '2'}
							%ul.list
								%li Механическая очистка
								%li Катриджи высокой производительности

					%tr
						%td.row-1st
							.links
								%a{:href => '#'}
									Технические цели
									%i.icon-arrow-right
						%td.row-2nd
							.links
								%a{:href => '#'}
									Питьевые фильтры
									%i.icon-arrow-right
						%td.row-3rd &nbsp;
						%td.row-4th
							.links
								%a{:href => '#'}
									Другая продукция
									%i.icon-arrow-right

					%tr
						%td.row-1st
							%ul.list
								%li Дозаторы полифосфата
								%li Картрижди PPH
						%td.row-2nd
							%ul.list
								%li Фильтр двойка
								%li Сменные элементы
						%td.row-3rd
							%ul.list
								%li Фильтр тройка
								%li Удаление железа

						%td.row-4th &nbsp;


		.bottom
			%span.copyright
				&copy; 2013 Компания «Акваполис»  Все права защищены.
			%span.soc-links
				Мы в социальных сетях
				%span.links
					%a.soc-link{:href => '#', :title => 'Facebook'}
						%i.icon-facebook
					%a.soc-link{:href => '#', :title => 'Twitter'}
						%i.icon-twitter
					%a.soc-link{:href => '#', :title => 'Vkontakte'}
						%i.icon-vkontakte
					%a.soc-link{:href => '#', :title => 'Odnoklassniki'}
						%i.icon-odnoklassniki

			%span.developer
				%a{:href => '#'} Создание сайтов
				Magnaweb
				%i.icon-magnaweb

