.search-block
	%input.search{:type=> 'text', :placeholder => 'Поиск в каталоге'}
	%i.icon-search

.left-menu#left-block-menu
	.elem.with-list
		%span.list-header
			%i.icon-plus-minus
			очистка воды
		%ul.menu-list
			%li
				%a{:href => '#'}
					Холодная вода
			%li
				%a{:href => '#'}
					Горячая вода
			%li
				%a{:href => '#'}
					Механическая очистка
			%li
				%a{:href => '#'}
					Сорбционная очистка
			%li
				%a{:href => '#'}
					Удаление железа
			%li
				%a{:href => '#'}
					Картриджи высокой производительности

	.elem.with-list
		%span.list-header
			%i.icon-plus-minus
			технические цели
		%ul.menu-list
			%li
				%a{:href => '#'}
					Холодная вода
			%li
				%a{:href => '#'}
					Горячая вода
			%li
				%a{:href => '#'}
					Механическая очистка
			%li
				%a{:href => '#'}
					Сорбционная очистка
			%li
				%a{:href => '#'}
					Удаление железа
			%li
				%a{:href => '#'}
					Картриджи высокой производительности

	.elem.with-list
		%span.list-header
			%i.icon-plus-minus
			питьевые фильтры
		%ul.menu-list
			%li
				%a{:href => '#'}
					Холодная вода
			%li
				%a{:href => '#'}
					Горячая вода
			%li
				%a{:href => '#'}
					Механическая очистка
			%li
				%a{:href => '#'}
					Сорбционная очистка
			%li
				%a{:href => '#'}
					Удаление железа
			%li
				%a{:href => '#'}
					Картриджи высокой производительности

	.elem
		%span.list-header
			%i.icon-right-arrow
			%a{:href => '#'}
				другая продукция


.left-article-block
	%span.h2
		Статьи
		%i.icon-leave.pull-right

	.elem
		%span.header
			%a{:href => '#'}
				Чистая вода - залог здоровья
		%p
			Человек на 80% состоит из воды, поэтому не удивительно, что качество воды так сильно вляет на ваше самочувствие.
	.elem
		%span.header
			%a{:href => '#'}
				Фильтрация. Будь уверен в воде, которую пьешь
		%p
			Чистая вода в бутылках - миф нашего времени. Можно ли быть уверенным, что эта вода не налита из под крана?
	.elem
		%span.header
			%a{:href => '#'}
				Обратный осмос - новое слово в фильтрации
		%p
			Медленно, но верно. Именно так можно охарактеризовать систему на принципе обратного осмоса.



