.promo-block
	%span.ie-border-left
	%span.elem
		%img{:src => 'images/promo/production-small.jpg'}
		.text
			%a.big-link{:href => '#'}
				Производство
	%span.ie-border-right

	%span.elem
		%span.ie-border-left
		%img{:src => 'images/promo/certificate-small.jpg'}
		.text
			%a.big-link{:href => '#'}
				Сертификаты
		%span.ie-border-right