.right-content
	%h3
		Очистка воды
	%p
		Около 10 лет компания «Акваполис» занимается производством бытовых фильтров для воды под зарегистрированной торговой маркой «AQUAPOST».
		При создании систем для очистки мы используем только качественные, прошедшие предварительные испытания материалы.
		Все корпуса и фильтроэлементы проверяются на прочность, чтобы ваша семья могла купить
		<a href='#'> качественный фильтр</a> для очистки и употреблять чистую и безопасную для здоровья воду.
	.catalog-body
		%h4
			Холодая вода
		.catalog-row
			.product-cube
				.image-container
					%img.product-photo{:src => 'images/filter1.png'}
				%h5
					%a{:href => '#'}
						Серия "Cold"
				%p
					Магистралный фильтр для очистки холодой воды
			.product-cube
				.image-container
					%img.product-photo{:src => 'images/filter2.png'}
				%h5
					%a{:href => '#'}
						Серия "Cold Ag"
				%p
					Магистралный фильтр для холодой воды с добавкой серебра
			.product-cube
				.image-container
					%img.product-photo{:src => 'images/filter3.png'}
				%h5
					%a{:href => '#'}
						Серия "Best"
				%p
					Магистралный фильтр высокого давления для холодой воды
		%h4
			Горячая вода
		.catalog-row
			.product-cube
				.image-container
					%img.product-photo{:src => 'images/filter4.png'}
				%h5
					%a{:href => '#'}
						Серия "Hot"
				%p
					Магистралный фильтр высокого давления для горячей воды
			.product-cube
				.image-container
					%img.product-photo{:src => 'images/filter5.png'}
				%h5
					%a{:href => '#'}
						Серия "Hot-антихлор"
				%p
					Магистралный фильтр высокого давления для горячей воды
		%h4
			Картриджи для фильтров
		.catalog-row
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Big Blue 207С.ВВ
				%p
					Применяется для многоцелевой фильтрации воды.
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Big Blue АGС 0.05.ВВ
				%p
					Применяется для фильтрации и дезинфекции воды
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Big Blue Маraton-С.ВВ
				%p
					Применяется для многоцелевой фильтрации воды.
		.empty-title
		.catalog-row
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Картридж PP10/5.SL10″
				%p
					Картриджи изготовлены из мультифиламентной текстурированной нити.
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Картриджи серии Fe+2
				%p
					Фильтрующие элементы этой серии отличаются высокой производительностью и ресурсом.
			.product-cube
				.image-container
					%img.product-photo{:src => 'http://placehold.it/100x200&text="product photo"'}
				%h5
					%a{:href => '#'}
						Картридж серии ВЭМ
				%p
					Картриджи изготовлены из полипропиленовой нити.
	= partial 'partials/paginator'