.right-content
	%h1
		Наши сертификаты
	%p
		Около 10 лет компания «Акваполис» занимается производством бытовых фильтров для воды под зарегистрированной торговой маркой «AQUAPOST».
		При создании систем для очистки мы используем только качественные, прошедшие предварительные испытания материалы.
		Все корпуса и фильтроэлементы проверяются на прочность, чтобы ваша семья могла купить
		<a href='#'> качественный фильтр</a> для очистки и употреблять чистую и безопасную для здоровья воду.
	.certificates-body
		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022&nbsp;г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012 г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.

		.certificate-block
			.image-container
				%img{:src => 'http://placehold.it/87x129&text="certificate photo"'}
			.description
				%h3
					%a{:hre => '#'}
						Сертификат гигиенического соответствия
				%p
					Выдан 16 апреля 2012&nbsp;г.<br>Действителен до 15 апреля 2022 г.
	= partial 'partials/paginator'
