%h1
	Контактная информация
.contacts
	.contacts-left
		.address
			%h4
				Москва
			%p
				Тел: 8 (495) 665-85-46
				%br
				ул. Профсоюзная, д.108, индекс 117437
			%h4
				Дубна(Московская область)
			%p
				Тел/факс: 8 (49621) 2-90-44
				%br
				ул.Жолио-Кюри, д.17-а, индекс 141980
			%p
				E-Mail: aquapost@dubna.net.ru
		.managers
			%h4
				Директор:
			%p
				Байшев Денис Андреевич
			%h4
				Технический Директор:
			%p
				Гробов Сергей Викторович
			%h4
				Менеджер по работе с клиентами:
			%p
				Байшева Елена Владимировна
			%h4
				Менеджер по снабжению
			%p
				Садковский Михаил Александрович
	.contacts-right
		%h4.large-margin
			Реквизиты
		%p
			Общество с ограниченной ответственностью «АКВАПОЛИС»
		%p
			Юридический адрес: 141980, г. ДУБНА
			%br
			Московская обл. ул. Дачная д.1.
		%p
			ИНН 5010024761
			%br
			КПП 501001001
		%p
			р/с 40702810340110101718
			%br
			в ОАО Сбербанке России г. Москва
		%p
			к/с 30101810400000000225
			%br
			БИК 044525225
	%br
	.map-wrapper
		%h2
			Как до нас добраться
		#map{:style=>"width: 794px; height: 494px"}

