.right-content
	%h3
		Магистральные фильтры холодной воды "Best"
	.technical-features-wrap
		%b
			Технические характеристики:
		%ul.technical-features.list
			%li
				%p Производительность – до 1500 л. час.
			%li
				%p Рабочая температура от 2 до 45°С
			%li
				%p Подключение – 1/2 или 3/4
			%li
				%p Давление в системе, при котором возможна работа    фильтра – до 8,8 Атм
			%li
				%p Картридж на 50 тысяч литров
			%li
				%p Материал корпуса – усиленный полипропилен
			%li
				%p Материал сменного элемента – полипропилен
	.photo-container-wrapper
		.photo-container
			%img.photo{:src => 'images/filter-photo.png'}
			.price-container
				1320р.
		.mint-container
	%h4
		Описание
	%p
		Крышка сделана из усиленного полипропилена, колба – из сополимера стирола, а сменный элемент – из полипропилена.
		В качестве элемента для переходников, повышающего надежность соединения в крышке корпуса, служат латунные вставки.
		С помощью прозрачного корпуса фильтра можно визуально контролировать уровень загрязненности картриджа.
	%p
		Фильтр лучше всего подходит для установки на входе системы холодного водоснабжения,
		а также перед самым забором воды в бытовой прибор.
	%h4
		Причины, по которым мы считаем этот фильтр самым надежным
	%ul.list
		%li
			%p геометрическая внутренняя форма сглаживает гидроудары
		%li
			%p имеются переходники разных размеров
		%li
			%p состоит из экологичных материалов, имеет антимикробные добавки
		%li
			%p  корпус выдерживает давление до 35 Атм
	%p
		С помощью магистрального фильтра можно максимально просто и надёжно защитить от засорения
		сантехническое оборудование и бытовую технику, а также предотвратить образование коррозии,
		которая разрушает металлические части трубопровода, и избавиться от налёта ржавчины.
	%p
		В фильтрах могут быть использованы картриджи, обеспечивающие защиту от примесей определённого вида.
		Например, для удаления избыточного железа, умягчения воды, очистки от хлора, кондиционирования.


