.main_page
	%ul#main-gallery
		%li
			.elem
				%img{:src => 'images/gallery/image_1.jpg'}
				.text-block
					%table.product-info
						%tbody
							%tr
								%td.product-name.to-right
									Cold
								%td.td-2nd
									%span.product-type
										%span.ie-border-left
										серия фильтров
										%span.ie-border-right

									.description
										Магистральные фильтры для холдной воды
							%tr
								%td.to-right
									%img.shape{:src=> 'images/gallery/image_small_1.png'}
								%td.td-2nd
									%a.more-link{:href => '#'}
										Узнайте больше о&nbsp;магистральных фильтрах

		%li
			.elem
				%img{:src => 'images/gallery/image_1.jpg'}
				.text-block
					%table.product-info
						%tbody
							%tr
								%td.product-name.to-right
									Warm
								%td.td-2nd
									%span.product-type
										%span.ie-border-left
										серия фильтров
										%span.ie-border-right

									.description
										Магистральные фильтры для горячей воды
							%tr
								%td.to-right
									%img.shape{:src=> 'images/gallery/image_small_1.png'}
								%td.td-2nd
									%a.more-link{:href => '#'}
										Узнайте больше о&nbsp;магистральных фильтрах

		%li
			.elem
				%img{:src => 'images/gallery/image_1.jpg'}
				.text-block
					%table.product-info
						%tbody
							%tr
								%td.product-name.to-right
									Cold 2
								%td.td-2nd
									%span.product-type
										%span.ie-border-left
										серия фильтров
										%span.ie-border-right

									.description
										Магистральные фильтры для холдной воды
							%tr
								%td.to-right
									%img.shape{:src=> 'images/gallery/image_small_1.png'}
								%td.td-2nd
									%a.more-link{:href => '#'}
										Узнайте больше о&nbsp;магистральных фильтрах

		%li
			.elem
				%img{:src => 'images/gallery/image_1.jpg'}
				.text-block
					%table.product-info
						%tbody
							%tr
								%td.product-name.to-right
									Cold 3
								%td.td-2nd
									%span.product-type
										%span.ie-border-left
										серия фильтров
										%span.ie-border-right

									.description
										Магистральные фильтры для холдной воды
							%tr
								%td.to-right
									%img.shape{:src=> 'images/gallery/image_small_1.png'}
								%td.td-2nd
									%a.more-link{:href => '#'}
										Узнайте больше о&nbsp;магистральных фильтрах

		%li
			.elem
				%img{:src => 'images/gallery/image_1.jpg'}
				.text-block
					%table.product-info
						%tbody
							%tr
								%td.product-name.to-right
									Cold 4
								%td.td-2nd
									%span.product-type
										%span.ie-border-left
										серия фильтров
										%span.ie-border-right

									.description
										Магистральные фильтры для холдной воды
							%tr
								%td.to-right
									%img.shape{:src=> 'images/gallery/image_small_1.png'}
								%td.td-2nd
									%a.more-link{:href => '#'}
										Узнайте больше о&nbsp;магистральных фильтрах



	.promo-block
		%span.elem
			%span.ie-border-left
			%img{:src => 'images/promo/production-big.jpg'}
			.text
				%a.big-link{:href => '#'}
					Производство
				%p
					Загляните в цех и&nbsp;оцените наши высокие стандарты
			%span.ie-border-right

		%span.elem
			%span.ie-border-left
			%img{:src => 'images/promo/certificate-big.jpg'}
			.text
				%a.big-link{:href => '#'}
					Сертификаты
				%p
					Все наши фильтры сертифицированы и&nbsp;100% безопасны
			%span.ie-border-right

	.main-page-about
		%h1
			Фильтры AQUAPOST - только чистая вода
		%p
			Около 10 лет компания «Акваполис» занимается производством бытовых фильтров для воды
			под зарегистрированной торговой маркой «AQUAPOST».
			При создании систем для очистки мы используем только качественные,
			прошедшие предварительные испытания материалы.
			Все корпуса и фильтроэлементы проверяются на прочность,
			чтобы ваша семья могла купить
			%a{:href => '#'} качественный фильтр
			для очистки и употреблять чистую и безопасную для здоровья воду.
		%p
			Бытовые фильтры «AQUAPOST» используются в жилых квартирах и домах,
			на промышленных объектах для решения нескольких задач:
		%ul.list-icons-bullets
			%li.item1
				Механическая фильтрация  — используется глубокая очистка,
				удаляются крупные примеси песка, мелкой взвеси, ила.
				Оставшиеся частицы улавливают патронные и сетчатые,
				осадочные фильтры, автоматические системы с фильтрующими средами.
			%li.item2
				Очистка воды от железа удаляет неприятный
				металлический привкус и бурую окраску, марганец и кальций.
				Используются универсальные ионообменные фильтры или специальные фильтры-обезжелезиватели.
			%li.item3
				Снижение жёсткости — удаляются соли кальция и магния,
				исчезают проблемы накипи. Ионообменные умягчители смягчают воду.
			%li.item4
				Осветление позволяет очистить мутную воду,
				удалив взвешенные и коллоидные частицы.
				Система водоочистки активно борется с осадочными и метановыми взвесями,
				характерными для болотистой местности.
			%li.item5
				Угольные фильтры содержат активированный кокосовый уголь,
				удаляют хлор и органические примеси.

		%h2
			Фильтры для современных стиральных машин
		%p
			ООО «Акваполис» предлагает защитить дорогостоящую технику от накипи
			с помощью малогабаритных фильтров «Crystals» с большим (до 30 000 литров) ресурсом.
			Установка производится непосредственно перед стиральной машиной.
			%a{:href => '#'} Фильтры для воды
			у нас можно приобрести оптом.





:javascript
	$(document).ready(function(){
		$('#main-gallery').bxSlider({
		controls: true,
		pager: true,
		auto: true,
		pause: 5000
		});
	});