.right-content
	%h1
		Текстовая страница. Загоовок H1
	%p
		Около 10 лет компания «Акваполис» занимается производством бытовых фильтров для воды под зарегистрированной торговой маркой «AQUAPOST».
		При создании систем для очистки мы используем только качественные, прошедшие предварительные испытания материалы.
		Все корпуса и фильтроэлементы проверяются на прочность, чтобы ваша семья могла купить
		<a href='#'> качественный фильтр</a> для очистки и употреблять чистую и безопасную для здоровья воду.
	%p
		Бытовые фильтры «AQUAPOST» используются в жилых квартирах и домах, на промышленных объектах для решения нескольких задач:
	%ul.list-icons-bullets
		%li.item1
			Механическая фильтрация  — используется глубокая очистка, удаляются крупные примеси песка, мелкой взвеси, ила.
			Оставшиеся частицы улавливают патронные и сетчатые, осадочные фильтры, автоматические системы с фильтрующими средами.
		%li.item2
			Очистка воды от железа удаляет неприятный металлический привкус и бурую окраску, марганец и кальций.
			Используются универсальные ионообменные фильтры или специальные фильтры-обезжелезиватели.
		%li.item3
			Снижение жёсткости — удаляются соли кальция и магния, исчезают проблемы накипи. Ионообменные умягчители смягчают воду.
		%li.item4
			Осветление позволяет очистить мутную воду, удалив взвешенные и коллоидные частицы.
			Система водоочистки активно борется с осадочными и метановыми взвесями, характерными для болотистой местности.
		%li.item5
			Угольные фильтры содержат активированный кокосовый уголь, удаляют хлор и органические примеси.
	%img.text-page-photo{:src => 'images/text_page_photo.png'}
	%h2
		Заголовок H2
	%p
		ООО «Акваполис» предлагает защитить дорогостоящую технику от накипи с помощью малогабаритных фильтров «Crystals» с большим (до 30 000 литров) ресурсом.
		Установка производится непосредственно перед стиральной машиной. Фильтры для воды у нас можно приобрести оптом.
	%h3
		Заголовок H3
	%p
		Фильтры-дозаторы полифосфата натрия — это особое предложение для стиральных и посудомоечных машин. Они:
	%ul.list
		%li
			%p
				удаляют образовавшуюся накипь;
		%li
			%p
				препятствуют образованию новой;
		%li
			%p
				предотвращают образование коррозии;
		%li
			%p
				сокращают расход моющих средств;
	%table.table
		%tr.odd.head
			%th.left-corner
			%th.first В случае
			%th.second использования воды
			%th.third для технических целей
			%th.fifth бытовом и в промышленном
			%th.right-corner
		%tr.even
			%td.left-border
				%span.side-border
			%td назначении,
			%td степень ее
			%td необходимой очистки
			%td перед использованием
			%td.right-border
				%span.side-border
		%tr.odd
			%td.left-border
				%span.side-border
			%td значительно
			%td снижается в сравнении
			%td с питьевой.
			%td Главный враг
			%td.right-border
				%span.side-border
		%tr.even
			%td.left-border
				%span.side-border
			%td в борьбе
			%td за чистоту
			%td поступающей воды
			%td и долговечную работу
			%td.right-border
				%span.side-border
		%tr.odd
			%td.left-border
				%span.side-border
			%td приборов
			%td накипь.
			%td Накипь это
			%td химические вещества,
			%td.right-border
				%span.side-border
		%tr.even
			%td.left-border
				%span.side-border
			%td образованные
			%td солями магния
			%td и кальция, которые
			%td содержатся в воде.
			%td.right-border
				%span.side-border
		%tr.bottom-border.even
			%td.left-corner
			%td.middle
			%td.middle
			%td.middle
			%td.middle
			%td.right-corner
	%p
		ООО «Акваполис» предлагает защитить дорогостоящую технику от накипи с
		помощью малогабаритных фильтров «Crystals» с большим (до 30 000 литров) ресурсом.
		Установка производится непосредственно перед стиральной машиной. Фильтры для воды у нас можно приобрести оптом.

